/* rich dark green - 062e0f */
/* light brown - a67b51 */
/* dark brown - 864b29 */
/* light gray - f0f0f0 */
/* orangey - ec9f52 */


/* OLD dark green - 1d3823 */
/* dark gray - 3c403d */
/* light green - rgb(235, 255, 238) */
/* light beige: fff7ec */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: #062e0f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #062e0f;
}

@font-face {
	font-family: Tree;
	src: url(./styles/snacker-comic-font/SnackerComicPersonalUseOnly-g3Z5.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Tree, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.github-ribbon {
	position: absolute;
	right: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	z-index: 99999;
	top: 0px;
}
.github-ribbon a {
	display: inline-block;
	width: 200px;
	overflow: hidden;
	padding: 6px 0px;
	text-align: center;
	transform: rotate(45deg);
	text-decoration: none;
	color: rgb(255, 255, 255);
	position: inherit;
	right: -40px;
	font: 700 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
	background-color: #864b29;
	top: 45px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
