*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: rgb(235, 255, 238);
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: rgb(220, 235, 222);
	border-radius: 50%;
	border: 1px solid rgb(168, 197, 171);
}

.bubble:hover {
	background-color: rgb(201, 216, 203);
	border: 1px solid rgb(151, 172, 153);
	cursor: pointer;
}

.bubbleText {
	color: rgb(30, 53, 30);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltipWrapper {
	display: flex;
	flex-direction: column;
	width: 100px;
	background-color: rgb(220, 235, 222);
	border: 1px solid rgb(168, 197, 171);
	padding: 10px 15px;
}
